:root {
    --teal: #4ec9b0;
    --light-blue: #9cdcfe;
    --grey: #1e1e1e;
    --dark-grey: #0e0e0e;
  }

.ant-switch-handle::before{
    background-color: var(--grey) !important;
}

.ant-input-number-handler{
    background-color: var(--grey) !important;
    border-color: var(--teal) !important;
    accent-color: var(--teal) !important;
}

.ant-input-number > input::placeholder{
    color: var(--light-blue) !important;
}

.general-theme{
    background-color: var(--grey) !important;
    color: var(--teal) !important;
    accent-color: var(--light-blue) !important;
}