@import '~antd/dist/antd.dark.css';


/* Colors:
Teal:        #4ec9b0
Light Blue:  #9cdcfe
Grey:        #1e1e1e
Dark Grey:   #0e0e0e */

/* :root {
  --teal: #4ec9b0;
  --light-blue: #9cdcfe;
  --grey: #1e1e1e;
  --dark-grey: #0e0e0e;
} */

.container {
  height: 100vh;
  width: 100vw;
  font-size: medium;
  display: grid;
  grid-template-rows: 33fr 33fr 33fr;
  grid-template-columns: 15fr 10fr 75fr;
  grid-gap: 8px;
  grid-template-areas:
  "motor1 config1 schedule1"
  "motor2 config2 schedule2"
  "motor3 config3 schedule3";
}


.schedule1 {
  background-color: #1e1e1e;
  grid-area: schedule1;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  border-radius: 5px;
}

.schedule2 {
  background-color: #1e1e1e;
  grid-area: schedule2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.schedule3 {
  background-color: #1e1e1e;
  grid-area: schedule3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.motor1 {
  background-color: #1e1e1e;
  grid-area: motor1;
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  align-items: center;
  border-radius: 5px;
}

.motor2 {
  background-color: #1e1e1e;
  grid-area: motor2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.motor3 {
  background-color: #1e1e1e;
  grid-area: motor3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.config1 {
  background-color: #1e1e1e;
  grid-area: config1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.config2 {
  background-color: #1e1e1e;
  grid-area: config2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.config3 {
  background-color: #1e1e1e;
  grid-area: config3;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}